a {
    color: #0000ee;
    text-decoration: none;
}

aside {
    width: 25%;
    float: right;
    margin-left: 15px;
    background-color: #ebebeb;
}

aside img {
    display: block;
    width: 225px;
    margin-left: auto;
    margin-right: auto;
}

.dropdown-item:hover{
    color: black;
}

.asterisk {
    color: red;
}

#status.success, #status.error{
    background-color: blueviolet;
    width: 50%;
    border-radius: 25px;
    text-align: center;
    color: white;
    animation: status 4s ease forwards;
}

@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 1;
        pointer-events: none;
    }
}

.display-1 {
    font-family: Cambria;
}

h1 img{
    width: 150px;
    height: 75px;
    vertical-align: baseline;
}