<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <script src="/script.js"></script>
    </head>
    <body>
        <nav>
            <a href="/index.html">Início</a>
            <a href="/about.html">Sobre</a>
            <a href="/contact.html">Contato</a>
        </nav>

        <aside>
            <h3 style="text-align: center;">Contribuição</h3>
            <p style="text-align: center;">Sinta-se livre para deixar uma contribuição financeira usando o QR Code ou os campos abaixo!</p>
            <img src="/images/pix_pp_my_qrcode.jpg"/>
            <hr><br>
            <div id="smart-button-container">
                <div style="text-align: center"><label for="description">Mensagem <br></label><input type="text" name="descriptionInput" id="description" maxlength="127" value="" ></div>
                  <p id="descriptionError" style="visibility: hidden; color:red; text-align: center;">Please enter a description</p>
                <div style="text-align: center"><label for="amount">Valor <br></label><input name="amountInput" type="number" id="amount" value="" size="2"><br><span> BRL</span></div>
                  <p id="priceLabelError" style="visibility: hidden; color:red; text-align: center;">Please enter a price</p>
                <div id="invoiceidDiv" style="text-align: center; display: none;"><label for="invoiceid"> </label><input name="invoiceid" maxlength="127" type="text" id="invoiceid" value="" ></div>
                  <p id="invoiceidError" style="visibility: hidden; color:red; text-align: center;">Please enter an Invoice ID</p>
                <div style="text-align: center; margin-top: 0.625rem;" id="paypal-button-container"></div>
              </div>
              <script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=BRL" data-sdk-integration-source="button-factory"></script>
              <script src="/script.js"></script>
        </aside>

        {{ content }}
        <hr>
        <footer>Obrigado por visitar este site!</footer>
    </body>
</html>