<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, inital-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <title>{{ page.title }}</title>
        
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
      <div class="container">

        <nav class="nav navbar-expand-md navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerTest" aria-controls="navbarTogglerTest" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerTest">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link link-light fw-bold" href="/index.html">Início</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle link-light fw-bold" data-bs-toggle="dropdown" href="" role="button" aria-expanded="true">Sobre</a>
                <ul class="dropdown-menu bg-dark">
                  <li><a class="dropdown-item link-light fw-bold" href="/about-ferya.html">Ferya</a></li>
                  <li><a class="dropdown-item link-light fw-bold" href="/about-author.html">O autor</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link link-light fw-bold" href="/contact.html">Contato</a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-light fw-bold" href="#"><img src="/images/spirit-logo.jpg" width="25" height="25"> Ler</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://myanimelist.net/profile/davidsousa"><img src="/images/mal-logo.jpg" width="25" height="25"></a>
              </li>
            </ul>
          </div>
        </nav>

        <aside class="container col-sm-5 col-lg-4 col-xl-3">
          <h2 style="text-align: center;">Contribuição</h2>
          <p class="small" style="text-align: center;">Sinta-se livre para deixar uma contribuição financeira usando o QR Code abaixo (pagamento via Pix)!</p>
          <img src="/images/pix_pp_my_qrcode.jpg" class="img-fluid">
          <hr>
          <p class="small" style="text-align: center;">Caso tenha problema na leitura do QR Code, utilize a chave aleatória
            <a class="btn btn-primary btn-sm" data-bs-toggle="collapse" href="#randomKey" role="button" aria-expanded="false" aria-controls="randomKey">Mostrar chave aleatória</a>
          </p>
          <div class="collapse" id="randomKey">
            <div class="text-center card card-body"><strong>e1416d59-2dc3-42e0-9030-8635249e5f07</strong></div>
          </div>
          <br>
        </aside>

        {{ content }}
        <hr>
        <footer>Obrigado pela visita!</footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
      </div>
    </body>
</html>