<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <script src="/script.js"></script>
    </head>
    <body>
        <nav>
            <a href="/index.html">Início</a>
            <a href="/about.html">Sobre</a>
            <a href="/contact.html">Contato</a>
        </nav>

        <aside>
            <h2 style="text-align: center;">Contribuição</h2>
            <p style="text-align: center;">Sinta-se livre para deixar uma contribuição financeira usando o QR Code ou o botão abaixo!</p>
            <img src="/images/pix_pp_my_qrcode.jpg"/>
            <hr><br>
            <div id="smart-button-container">
                <div style="text-align: center"><label for="description">Mensagem <br></label><input type="text" name="descriptionInput" id="description" maxlength="127" size="30" value="" ></div>
                  <p id="descriptionError" style="visibility: hidden; color:red; text-align: center;">Por favor, adicione uma descrição</p>
                <div style="text-align: center; margin-top: -10%;"><label for="amount">Valor <br></label><input name="amountInput" type="number" id="amount" value="" min="0.01" style="width: 5em"><br><span> BRL</span></div>
                  <p id="priceLabelError" style="visibility: hidden; color:red; text-align: center;">Por favor, coloque um valor</p>
                <div id="invoiceidDiv" style="text-align: center; display: none;"><label for="invoiceid"> </label><input name="invoiceid" maxlength="127" type="text" id="invoiceid" value="" ></div>
                  <p id="invoiceidError" style="visibility: hidden; color:red; text-align: center;">Please enter an Invoice ID</p>
                <div style="text-align: center; margin-top: -25%;" id="paypal-button-container"></div>
              </div>
              <script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=BRL" data-sdk-integration-source="button-factory"></script>
              <script src="/script.js"></script>
              <br>
        </aside>

        {{ content }}
        <hr>
        <footer>Obrigado por visitar este site!</footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>
</html>